# PORT=
# SMTP_HOST=
# SMTP_PORT=
# SMTP_USER=
# SMTP_PASS=

# RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
# EMAIL_EVENTS_EXCHANGE=email.events
# EMAIL_SEND_QUEUE=email.send
# EMAIL_ROUTING_KEY_PASSWORD_RESET=email.send.password_reset
# EMAIL_DLX_EXCHANGE=email.dlx
# EMAIL_SEND_FAILED_QUEUE=email.send.failed
