PORT=3006
JWT_SECRET=secret
JWT_EXPIRES_IN=1d
SERVICE_NAME=notification-service
LOKI_HOST=http://loki:3100
LOG_LEVEL=info
LOG_TO_LOKI=true
NODE_ENV=development

RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
NOTIFICATIONS_QUEUE=notifications.queue
NOTIFICATIONS_DLX=notifications.dlx
NOTIFICATIONS_FAILED_QUEUE=notifications.failed
NOTIFICATIONS_EXCHANGE=notifications.events
NOTIFICATIONS_ROUTING_KEY=notification.send

DB_HOST=notification-service-database
DB_PORT=3306
DB_NAME=notification_service
DB_USER=root
DB_PASS=123456

MYSQL_ROOT_PASSWORD=123456
MYSQL_DATABASE=notification_service
MYSQL_ROOT_HOST=%

REDIS_URL=redis://redis:6379
