# PORT=
# JWT_SECRET=
# JWT_EXPIRES_IN=
# SERVICE_NAME=
# LOKI_HOST=
# LOG_LEVEL=
# NODE_ENV=

# RABBITMQ_URL=
# NOTIFICATIONS_QUEUE=
# NOTIFICATIONS_DLX=
# NOTIFICATIONS_FAILED_QUEUE=
# NOTIFICATIONS_EXCHANGE=
# NOTIFICATIONS_ROUTING_KEY=

# DB_HOST=
# DB_PORT=
# DB_NAME=
# DB_USER=
# DB_PASS=

# MYSQL_ROOT_PASSWORD=
# MYSQL_DATABASE=
# MYSQL_ROOT_HOST=%

# REDIS_URL=