# JWT_SECRET=
# PORT=
# REDIS_URL=redis://redis:6379

# AUTH_SERVICE_URL=
# STORAGE_SERVICE_URL=

# DB_NAME=
# DB_USER=
# DB_PASS=
# DB_HOST=

# MYSQL_ROOT_PASSWORD=
# MYSQL_DATABASE=
# MYSQL_ROOT_HOST=

# INTERNAL_SERVICE_TOKEN=

# RABBITMQ_URL=
# NOTIFICATIONS_QUEUE=
# NOTIFICATIONS_DLX=
# NOTIFICATIONS_FAILED_QUEUE=
# NOTIFICATIONS_EXCHANGE=
# NOTIFICATIONS_ROUTING_KEY=
