# PORT=
# JWT_SECRET=

# DB_NAME=
# DB_USER=
# DB_PASS=
# DB_HOST=

# MYSQL_ROOT_PASSWORD=
# MYSQL_DATABASE=
# MYSQL_ROOT_HOST=%

# UPLOADS_ROOT=
# UPLOAD_DIR=

# INTERNAL_SERVICE_TOKEN=
# INTERNAL_SERVICE_KEY=