# JWT_SECRET=
# PORT=

# DB_NAME=
# DB_USER=
# DB_PASS=
# DB_HOST=

# MYSQL_ROOT_PASSWORD=
# MYSQL_DATABASE=
# MYSQL_ROOT_HOST=

# STORAGE_SERVICE_URL=
# AUTH_SERVICE_URL=

# Default bootstrap company (created on startup if no company with id=1 exists)
# COMPANY_SEED_ENABLED=true
# COMPANY_SEED_EMAIL=seed.empresa@demo.totalfretes.com.br
# COMPANY_SEED_PASSWORD=Empresa@123456
# COMPANY_SEED_NAME=Seed Transportes Demo Ltda
# COMPANY_SEED_CNPJ=00.000.000/0001-91
