# PORT=

# SERVICE_NAME=swagger-service
# LOG_LEVEL=info
# LOKI_HOST=http://loki:3100
# LOG_TO_LOKI=true

# AUTH_SERVICE_URL=
# COMPANY_SERVICE_URL=
# USER_SERVICE_URL=
# STORAGE_SERVICE_URL=
# FREIGHT_SERVICE_URL=

