# JWT_SECRET=secret
# PORT=3001

# DB_NAME=authentication_service
# DB_USER=root
# DB_PASS=123456
# DB_HOST=authentication-service-database

# MYSQL_ROOT_PASSWORD=123456
# MYSQL_DATABASE=authentication_service
# MYSQL_ROOT_HOST=%

# RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
# ACCOUNT_CREATE_RPC_QUEUE=account.create.rpc
# STORAGE_SERVICE_URL=http://storage-service:3007
# INTERNAL_SERVICE_TOKEN=local-internal-shared-token
# I18N_SERVICE_URL=http://i18n-translation-service:3006
