# JWT_SECRET=
# PORT=

# SERVICE_NAME=authentication-service
# LOG_LEVEL=info
# LOKI_HOST=http://loki:3100
# LOG_TO_LOKI=true

# DB_NAME=
# DB_USER=
# DB_PASS=
# DB_HOST=

# MYSQL_ROOT_PASSWORD=
# MYSQL_DATABASE=
# MYSQL_ROOT_HOST=

# REDIS_URL=
# RABBITMQ_URL=

# COMPANY_EVENTS_EXCHANGE=
# EMAIL_EVENTS_EXCHANGE=

# SMTP_HOST=
# SMTP_PORT=
# SMTP_USER=
# SMTP_PASS=
# SMTP_FROM=
# SMTP_SECURE=

# Default bootstrap admin (created on startup if no ADMIN account exists)
# ADMIN_SEED_ENABLED=true
# ADMIN_SEED_EMAIL=admin@totalfretes.com.br
# ADMIN_SEED_PASSWORD=Admin@123456
