# JWT_SECRET=secret
# PORT=3000

# DB_NAME=authentication_service
# DB_USER=root
# DB_PASS=123456
# DB_HOST=authentication-service-database

# MYSQL_ROOT_PASSWORD=123456
# MYSQL_DATABASE=authentication_service
# MYSQL_ROOT_HOST=%

# REDIS_URL=redis://redis:6379
# RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672

# ACCOUNT_CREATE_RPC_QUEUE=account.create.rpc
# I18N_SERVICE_URL=http://i18n-translation-service:3006
# INTERNAL_SERVICE_TOKEN=local-internal-shared-token
# COMPANY_EVENTS_EXCHANGE=company.events
# EMAIL_EVENTS_EXCHANGE=email.events

# SMTP_HOST=smtp.mailtrap.io
# SMTP_PORT=2525
# SMTP_USER=root@gmail.com
# SMTP_PASS=123456
# SMTP_FROM=root@gmail.com
# SMTP_SECURE=true
