PORT=3004
MAPBOX_SECRET_TOKEN=
MAPBOX_ALLOW_SELF_SIGNED_TLS=false

JWT_SECRET=secret

DB_HOST=mapbox-service-database
DB_PORT=3306
DB_NAME=mapbox_service
DB_USER=root
DB_PASS=123456

MYSQL_ROOT_PASSWORD=123456
MYSQL_DATABASE=mapbox_service
MYSQL_ROOT_HOST=%

FREIGHT_SERVICE_URL=http://freight-service:3008

SERVICE_NAME=mapbox-service
LOKI_HOST=http://loki:3100
LOG_LEVEL=info
LOG_TO_LOKI=true
NODE_ENV=development
